:root {
  --primary: #333;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

h1 {
  margin-bottom: var(--spacing);
  text-align: center;
}

nav {
  background-color: var(--contrast);
}

nav a {
  color: var(--contrast-inverse);
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--contrast);
  text-align: center;
  padding: var(--spacing);
}

footer p {
  color: var(--contrast-inverse);
}

footer ul {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
}

footer ul li {
  list-style-type: none;
}

footer .icon-contrast-inverse {
  fill: var(--contrast-inverse);
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 50%;
}
